* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  background-color: #333;
  color: #ccc;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
button,
.button {
  background: #333;
  border: 1px solid #666;
  color: #ccc;
  cursor: pointer;
  padding: 10px 20px;
}
button:hover,
.button:hover {
  background: #555;
  border-color: #999;
  color: #fff;
}
label {
  color: #ccc;
  font-size: 0.8rem;
}
#canvas-container {
  min-height: 300px;
  overflow: hidden;
  width: 100vw;
}
#canvas-container canvas {
  display: block;
  touch-action: none;
  width: 100% !important;
}
#controls {
  margin: 20px 10px;
}
#overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}
#overlay__start {
  margin-bottom: 20px;
}
#pause-toggle + label:before {
  content: 'Pause';
}
#pause-toggle:checked + label:before {
  content: 'Continue';
}
#cam-animation-toggle + label:before {
  content: 'Pause Camera';
}
#cam-animation-toggle:checked + label:before {
  content: 'Continue Camera';
}
.control {
  padding: 5px 10px;
}
.checkbox-hide {
  height: 0;
  opacity: 0;
  width: 0;
}
.display {
  background-color: #eee;
  display: flex;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
}
.display > div {
  margin: 5px;
}
.index,
.time {
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  width: 100px;
}
